@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

html, body {
    height: 100%;
    margin: 0; /* Ensure there's no default margin */
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure the body takes the full viewport height */
    margin: 0; /* Remove default margin */
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure it spans the entire width */
    /* Adjusted to allow for content size */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in width and height calculations */
}

.header {
    display: flex;
    align-items: center;
    justify-content: start; /* Align items to the start (left) */
    text-align: left;
    padding: 0; /* Adjust or remove padding */
    margin: 0; /* Ensure the header starts at the top-left */
}

.container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: normal;
}

footer {
    text-align: right;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 8px;
}

form {
    color: #000; /* Match h1 color */
}

input[type="text"], input[type="email"], button {
    width: 100%;
    margin: auto;
    font-size: 12px; /* Adjust as needed, to match or complement the h1 size */
    color: #000; /* Text color */
    background-color: #fff; /* Background color, adjust if needed */
    border: none;
    border-bottom: 0.5px solid #000;
    padding: 4px; /* Adjust padding */
    margin: 4px 0; /* Margin for spacing, adjust as needed */
}

button {
    font-size: 12px;
    color: #fff; /* White text color */
    background-color: #000; /* Black background */
    border: 2px solid #000; /* Solid border */
    padding: 8px 12px; /* Larger padding for better clickability */
    margin-top: 20px; /* Margin on top to separate from input fields */
    width: 60%; /* Ensures it matches the width of input fields */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
    border-radius: 4px;
}

label, input {
    font-family: inherit; /* Inherits font-family from body */
    color: inherit; /* Inherits font color from body */
}

button:hover {
    background-color: #444; /* Darken the background on hover */
    color: #ddd; /* Lighten the text color on hover */
}

label {
    display: block; 
    margin: 4px 0; /* Spacing around labels, adjust as needed */
    font-size: 14px;
    margin-top: 20px;
}

.bypass-link {
    color: #000; /* Set the color */
    font-size: 10px; /* Set font size */
    margin-top: 20px; /* Space between the button and link */
    text-decoration: underline;
}

/* .bypass-link:hover {
    text-decoration: underline;
} */

.global-header {
    width: 100%;
    padding: 10px 20px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.global-header .logo a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.footer-nav a {
    text-decoration: underline;
    /* margin-left: 10px; */
    color: #333;
    font-size: 12px;

}

.footer-nav a:hover {
    color: #000;
}
